<script type="text/x-template" id="employee-row">
  <tr>
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.manager }}</td>
  </tr>
</script>

<h1>Employees</h1>

<div id="employees">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Manager</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        is="employee-row"
        v-for="employee in employees"
        :employee="employee">
      </tr>
      <tr>
        <td>
          <input type="text" v-model="employee.name"><br>
          <span style="color:red">{{ errors.name }}</span>
        </td>
        <td>
          <input type="text" v-model="employee.email"><br>
          <span style="color:red">{{ errors.email }}</span>
        </td>
        <td><input type="checkbox" v-model="employee.manager"></td>
        <td><button @click="hireEmployee">Hire</button></td>
      </tr>
    </tbody>
  </table>
</div>
